<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Nome Completo</title>
</head>
<body>
  <h1>Atualizar Nome Completo</h1>

  <form action="/atualizarnome" method="post">
    <label for="user_name">Confirme Seu User Name:</label>
    <input type="text" name="user_name" required>

    <label for="nome_completo">Novo Nome Completo:</label>
    <input type="text" name="nome_completo" required>

    <label for="senha">Nova Senha:</label>
    <input type="password" name="senha" required>

    <label for="idade">Nova Idade:</label>
    <input type="number" name="idade" required>

    <button type="submit">Atualizar</button>
  </form>
</body>
</html>