<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Conta</title>
</head>
<body>
    <form action="/deletarconta" method="post">
        <label for="user_name">User Name:</label>
    <input type="text" name="user_name" required>
    
        <label for="senha">Confirme Sua Senha:</label>
        <input type="password" name="senha" required>
    
        <button type="submit">Deletar</button>
      </form>
</body>
</html>