<!-- views/lista.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Compra</title>
</head>
<body>
  <h1>Lista de Compra</h1>

    <ul>
      <% compras.forEach(compra => { %>
        <li>
          <%= compra.user_name %> - <%= compra.nome_pacote %>
        </li>
      <% }); %>
    </ul>
  
  <a href="/">Voltar</a>
</body>
</html>
